<div class="container">
  <h2>Contact Us</h2>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="contact-us img-thumbnail" src="../../assets/imgs/BrycePicture.jpg" />
      </div>
      <div class="col-10">
        <h5>Bryce Polito</h5>
        <p>Co-Lead Developer</p>
        <p><strong>Email: </strong>polito.32@osu.edu</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="contact-us img-thumbnail" src="../../assets/imgs/EnyaPicture.jpg" />
      </div>
      <div class="col-10">
        <h5>En Yu Tsui</h5>
        <p>Co-Lead Developer</p>
        <p><strong>Email: </strong>tsui.42@osu.edu</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img class="contact-us img-thumbnail" src="../../assets/imgs/MichaelPicture.jpg" />
      </div>
      <div class="col-10">
        <h5>Michael Frank</h5>
        <p>Co-Lead Developer</p>
        <p><strong>Email: </strong>frank.522@osu.edu</p>
      </div>
    </div>
  </div>
</div>