<h2>Contact Us</h2>
<div class = "row" >
  <div class="col-md-4 fadeInLeft animated" mdbWavesEffect>
<mdb-card>
  <!--Card image-->
  <mdb-card-img src="../../assets/imgs/BrycePicture.jpg" ></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>Bryce Polito</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> 
      Co-Lead Developer<br/>
      <strong>Email : </strong>polito.32@osu.edu
    </mdb-card-text>    
  </mdb-card-body>
</mdb-card>
</div>

<div class="col-md-4 fadeInDown animated">
  <mdb-card>
    <!--Card image-->
    <mdb-card-img src="../../assets/imgs/EnyaPicture.jpg" ></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>En-Yu Tsui</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> 
        Co-Lead Developer<br/>
        <strong>Email : </strong>tsui.42@osu.edu
      </mdb-card-text>    
    </mdb-card-body>
  </mdb-card>
  </div>
  <div class="col-md-4 fadeInRight animated">
    <mdb-card>
      <!--Card image-->
      <mdb-card-img src="../../assets/imgs/MichaelPicture.jpg" ></mdb-card-img>
      <!--Card content-->
      <mdb-card-body>
    
        <!--Title-->
        <mdb-card-title>
          <h4>Michael Frank</h4>
        </mdb-card-title>
    
        <!--Text-->
        <mdb-card-text> 
          Co-Lead Developer<br/>
          <strong>Email : </strong>frank.522@osu.edu
        </mdb-card-text>    
      </mdb-card-body>
    </mdb-card>
    </div>
</div>
