<div class="container">
  <h2>Contact Us</h2>
  <div class="container border">
    <h5>Bryce Polito: </h5>
    <p>Co-Lead Developer</p>
    <p><strong>Email: </strong>polito.32@osu.edu</p>
  </div>
  <div class="container border">
    <h5>En Yu Tsui: </h5>
    <p>Co-Lead Developer</p>
    <p><strong>Email: </strong>tsui.42@osu.edu</p>
  </div>
  <div class="container border">
    <h5>Michael Frank</h5>
    <p>Co-Lead Developer</p>
    <p><strong>Email: </strong>frank.522@osu.edu</p>
  </div>
</div>
