<div class="bg-green">
    <h2>About us</h2>
    <div>
        <p>We are a long standing pro-environment corporation engaged in 
            providing you with the best possible succulents that exist within 
            the market today. Every day we stand with our pledge of making the 
            world not only environtmentally friendly, but succulent happy. Our 
            team, based in Columbus, Ohio originated as a project for a college
            course, but today, we love to imagine that it has become so much more!</p> 
    </div>
</div>
