<h1>Order Summary</h1>
<hr />
<div class="row">
    <div class="col-6">
        <mat-card class="card1">
            <div>
                <mat-card-title>
                    <h3>Billing Address</h3>
                </mat-card-title>
                <mat-card-content class="content">
                    <p><strong>Credit Card ending in </strong>{{payment.creditCardNumber.substring(payment.creditCardNumber.length
                        - 4)}}</p>
                    <p>{{shipping.name}}</p>
                    <p>{{shipping.address}}</p>
                    <p>{{shipping.city}}, {{shipping.state}} {{shipping.zipCode}}</p>
                    <!-- <p><strong>Email | </strong>{{shipping.email}}</p> -->
                </mat-card-content>
            </div>

        </mat-card>
    </div>
    <div class="col-6">
        <mat-card class="card1">
            <div>
                <mat-card-title>
                    <h3>Shipping Address</h3>
                </mat-card-title>
                <mat-card-content class="content">
                    <p>{{shipping.name}}</p>
                    <p>{{shipping.address}}</p>
                    <p>{{shipping.city}}, {{shipping.state}} {{shipping.zipCode}}</p>
                    <!-- <p><strong>Email | </strong>{{shipping.email}}</p> -->
                </mat-card-content>
            </div>

        </mat-card>
    </div>
</div>
<h2>Total {{ utilityService.getTotalPrice() | currency }}</h2>
<hr />
<div class="row">
    <div *ngFor="let product of products">
        <div *ngIf="product.quantity > 0">
            <cart-item [product]="product" [editable]="false"></cart-item>
            <hr />
        </div>
    </div>
</div>

<button routerLink="/payment" class="btn btn-secondary">Back</button>
<button routerLink="/confirm" class="btn btn-default float-end" type="submit" (click)="postOrder()">Complete Order</button>