.card1 {
    background-color:#e0e5df;
}
.card2 {
    background-color:#e0e5df;
    text-align:center;
}
.card3 {
    background-color:#e0e5df;
    text-align:center;
}
h1{
    text-align:center;
}
.btn{
    text-align: center;
    
}
.content{
    display: inline-block;
}