img {
    white-space: pre;
    width: 75px;
    height: 75px;
    float: left;
     
}
p {
    white-space: pre;
}
h2 {
    float: left;
    white-space: pre;
}

h1{
    text-align: center;
}
.btn-default{
    background-color: #004d00;
    color:#ffffff;
    /* border-color: #339964; */
  
}
.btn-default:focus{
    background-color: #004d00;
    color:#ffffff;
    /* border-color: #339964; */
}
