
<div class="container-fluid">
    <div class="row">
        <h1>Shipping Info</h1>
        <hr />
    </div>
    <div class="row md-form">
        <div class="form-group">
            <label for="Name">Name</label>
            <input mdbInput id="Name" [(ngModel)]="shipping.name" type="text" class="form-control">
        </div>
    </div>
    <div class="row md-form">
        <div class="form-group">
            <label for="Address">Address</label>
            <input mdbInput id="Address" [(ngModel)]="shipping.address" type="text" class="form-control">
        </div>
    </div>
    <div class="row md-form">
        <div class="col-4">
            <div class="form-group">
                <label for="City">City</label>
                <input mdbInput id="City" [(ngModel)]="shipping.city" type="text" class="form-control">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="State">State</label>
                <input mdbInput id="State" [(ngModel)]="shipping.state" type="text" class="form-control">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="Zip Code">Zip Code</label>
                <input mdbInput id="Zip Code" [(ngModel)]="shipping.zipCode" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row md-form form-sm">
        <div class="form-group">
            <label for="Email">Email</label>
            <input mdbInput id="Email" [(ngModel)]="shipping.email" type="email" class="form-control form-control-sm">
        </div>
    </div>
    <div class="row md-form">
        <p>Shipping Method</p>
        <select class="browser-default custom-select" [(ngModel)]="shipping.shipping_method">
            <option name = "Expedited" id="Expedited" value ="Expedited" selected>Expedited Shipping</option>
            <option name="Regular" id="Regular" value="Regular">Regular Shipping</option>
        </select>
    </div>
    <br />
    <button  mdbBtn routerLink="/cart" color="mdb-color" class="btn btn-secondary" mdbWavesEffect>Back</button>
    <button  mdbBtn routerLink="/payment" color = "unique" class="btn btn-default float-end" (click)="onSubmit()" mdbWavesEffect>Confirm</button>

</div>

